.nav-link{
    opacity: 0.7;
}
.nav-link:hover{
    opacity:1;
    background-color: #eee !important;
}
header {
    /*sizing of the element*/
    height: 600px;
    width : 100%;
    /*Set and adjust background image*/
    background-image: url("Alpha Wolf Sudios.jpg");
    background-size: cover ;
    /*Center the text*/
    text-align: center;
    font-family: 'Tangerine', cursive;
}
header p {
    /*add font syle property here*/
    font-style: italic;
}